.evergreen/config/build/*.yml linguist-generated=true
.evergreen/config/build/_template*.yml linguist-generated=false

.evergreen/config/test/*.yml linguist-generated=true
.evergreen/config/test/_template*.yml linguist-generated=false
