[submodule "src/libmongoc"]
	path = src/libmongoc
	url = https://github.com/mongodb/mongo-c-driver.git
	ignore = untracked
[submodule "src/libmongocrypt"]
	path = src/libmongocrypt
	url = https://github.com/mongodb/libmongocrypt.git
	ignore = untracked
[submodule "tests/drivers-evergreen-tools"]
	path = tests/drivers-evergreen-tools
	url = https://github.com/mongodb-labs/drivers-evergreen-tools.git
