# This file is generated automatically - please edit the "templates/test-variant/legacy-php-full.yml" template file instead.
buildvariants:
  # TODO PHPC-2343: This file can be removed when requiring PHP 8.1+
  # Test MongoDB >= 5.0, < 8.0
  - name: test-debian11-php-8.0
    tags: ["test", "debian", "x64", "php8.0", "pr", "tag"]
    display_name: "Test: Debian 11, PHP 8.0"
    run_on: debian11-small
    expansions:
      FETCH_BUILD_VARIANT: "build-debian11"
      FETCH_BUILD_TASK: "build-php-8.0"
    depends_on:
      - variant: "build-debian11"
        name: "build-php-8.0"
    tasks:
      # Remember to add new major versions here as they are released
      - ".standalone .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".replicaset .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".sharded .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".loadbalanced .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".ocsp !.4.4 !.8.0"
      - "test-atlas-connectivity"
    display_tasks:
      - name: "test-ocsp-latest"
        execution_tasks:
          - ".ocsp .latest"
      - name: "test-ocsp-rapid"
        execution_tasks:
          - ".ocsp .rapid"
      - name: "test-ocsp-7.0"
        execution_tasks:
          - ".ocsp .7.0"
      - name: "test-ocsp-6.0"
        execution_tasks:
          - ".ocsp .6.0"
      - name: "test-ocsp-5.0"
        execution_tasks:
          - ".ocsp .5.0"

  # Test versions < 5.0
  - name: test-rhel80-php-8.0
    tags: ["test", "rhel", "x64", "php8.0", "pr", "tag"]
    display_name: "Test: RHEL 8.0, PHP 8.0"
    run_on: rhel80-small
    expansions:
      FETCH_BUILD_VARIANT: "build-rhel8"
      FETCH_BUILD_TASK: "build-php-8.0"
    depends_on:
      - variant: "build-rhel8"
        name: "build-php-8.0"
    tasks:
      # Remember to add new major versions here as they are released
      - ".standalone .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".replicaset .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".sharded .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".ocsp !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
    display_tasks:
      - name: "test-ocsp-4.4"
        execution_tasks:
          - ".ocsp .4.4"
  # TODO PHPC-2343: This file can be removed when requiring PHP 8.1+
  # Test MongoDB >= 5.0, < 8.0
  - name: test-debian11-php-7.4
    tags: ["test", "debian", "x64", "php7.4", "pr", "tag"]
    display_name: "Test: Debian 11, PHP 7.4"
    run_on: debian11-small
    expansions:
      FETCH_BUILD_VARIANT: "build-debian11"
      FETCH_BUILD_TASK: "build-php-7.4"
    depends_on:
      - variant: "build-debian11"
        name: "build-php-7.4"
    tasks:
      # Remember to add new major versions here as they are released
      - ".standalone .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".replicaset .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".sharded .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".loadbalanced .local !.4.0 !.4.2 !.4.4 !.8.0"
      - ".ocsp !.4.4 !.8.0"
      - "test-atlas-connectivity"
    display_tasks:
      - name: "test-ocsp-latest"
        execution_tasks:
          - ".ocsp .latest"
      - name: "test-ocsp-rapid"
        execution_tasks:
          - ".ocsp .rapid"
      - name: "test-ocsp-7.0"
        execution_tasks:
          - ".ocsp .7.0"
      - name: "test-ocsp-6.0"
        execution_tasks:
          - ".ocsp .6.0"
      - name: "test-ocsp-5.0"
        execution_tasks:
          - ".ocsp .5.0"

  # Test versions < 5.0
  - name: test-rhel80-php-7.4
    tags: ["test", "rhel", "x64", "php7.4", "pr", "tag"]
    display_name: "Test: RHEL 8.0, PHP 7.4"
    run_on: rhel80-small
    expansions:
      FETCH_BUILD_VARIANT: "build-rhel8"
      FETCH_BUILD_TASK: "build-php-7.4"
    depends_on:
      - variant: "build-rhel8"
        name: "build-php-7.4"
    tasks:
      # Remember to add new major versions here as they are released
      - ".standalone .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".replicaset .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".sharded .local !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
      - ".ocsp !.5.0 !.6.0 !.7.0 !.8.0 !.rapid !.latest"
    display_tasks:
      - name: "test-ocsp-4.4"
        execution_tasks:
          - ".ocsp .4.4"
